.burger {
  display: none;
  min-width: 40px;
  min-height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.burger__item {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--burger-color);
  transition: transform .3s ease;
}

.burger__item:first-child {
  top: 0%;
}

.burger__item:nth-child(2) {
  top: 50%;
}

.burger__item:last-child {
  top: 100%;
}

.burger--active > .burger__item:first-child {
  transform: rotate(45deg);
  top: 50%;
}

.burger--active > .burger__item:nth-child(2) {
  display: none;
}

.burger--active > .burger__item:last-child {
  transform: rotate(135deg);
  top: 50%;
}
