.header{
  background-color: var(--secondary-bg);
  border-bottom: var(--border-thin) solid var(--border-secondary);
}

.wrapper--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-lg);
}

.nav__list{
  display: flex;
  gap: var(--spacing-lg);
  font-size: var(--text-xl);
  font-weight: 700;
  position: relative;
}

.nav__list-element {
  position: relative;
}

.nav__list-element::after {
  content: '';
  position: absolute;
  /* Ставим разделитель в центр промежутка */
  left: calc(100% + (var(--spacing-lg) / 2) - 1px); /* 1px - половина ширины разделителя */
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 20px; /* фиксированная высота, не 100% */
  background-color: var(--text-primary);
  opacity: 0.5;
}

/* Убираем разделитель у последнего элемента */
.nav__list-element:last-child::after {
  display: none;
}

.nav__link{
  transition: color .3s;
  position: relative;
  white-space: nowrap;
}

.nav__link:hover{
  color: var(--text-accent);
}

.nav__link::after{
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -4px;
  height: 2px;
  background-color: var(--text-accent);
  transition: width .3s;
}

.nav__link:hover::after{
  width: 100%;
}