.mobile-menu {
  position: absolute;
  left: -100%;
  top: 0;
  background-color: var(--secondary-bg);
  z-index: 4;
  height: 100vh;
  width: 50vw;
  transition:
    left 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
  border-right: var(--border-thin) solid var(--text-primary);
}

.mobile-menu--active {
  opacity: 1;
  left: 0;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  font-size: var(--text-2xl);
}

.mobile-menu__link {
  border-bottom: var(--border-thin) solid var(--text-primary);
  display: block;
  text-align: center;
  width: 100%;
  color: var(--text-primary);
  padding: var(--spacing-md);
}

.mobile-menu__link--active{
  color: var(--text-accent);
}